@import "_medq.scss";

.sha{
    position: absolute;
    font-family: Shojumaru;
    font-style: normal;
    font-weight: normal;
    font-size: 3rem;
    line-height: 119px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(4px);
    margin-bottom:auto;

    @include desktop {
      width: 761px;
      height: 153px;
      font-size: 10rem;
    }
    @include phone {
        width: 305px;
        height: 75px;
        font-size: 5rem;
      }
}

.corona{
  border-radius: 1rem;
  position: relative;
  font-size: 1rem;
  background-color: white;
  font-family: 'Permanent Marker', cursive;
  margin-top: 20rem;
  text-align: center;
  width: 70rem;

  @include desktop {
  font-size: 2rem;
}
  @include phone {
  font-size: 2rem;
  width: 25rem;
    }
}  

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 5rem;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  margin-top: 1rem;
  color: yellow;
}


