.extitle{    
    text-align: center;
    font-size: 8vh;
    font-family: 'Bree Serif', serif;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: #7ABFF0;
    margin-top: 6rem;
}

.sites{
    height: 100vh;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    border-image: fill;

    @include tablet {
        font-size: 6rem;
        letter-spacing: 1.8rem;
      }
      @include laptop {
        font-size: 10rem;
        letter-spacing: 2.2rem;
      }
}

.yu{
    margin: 10px;
    width: 40rem;
    border-image: fill;
    padding: 7rem;
}

.yugarden{
    position: relative;
    font-size: 5rem;
    background-color: white;
    font-family: 'Permanent Marker', cursive;
    margin-top: 6rem;
    text-align: center;
    @include laptop{
        font-size: 2rem;    
    }
    @include tablet{
        font-size: 2rem;
    }
}  

.nanjing{
    flex-grow: 2;
    width: 40rem;
    display: flex;
    padding: 7rem;
    flex-direction: column;
}

.nanjingroad{
    position: relative;
    font-size: 5rem;
    background-color: white;
    font-family: 'Permanent Marker', cursive;
    margin-top: 6rem;
    text-align: center;
    @include laptop{
        font-size: 2rem;    
    }
    @include tablet{
        font-size: 2rem;
    }
}  


.pearl{
    flex-grow: 1;
    display: flex;
    width: 40rem;
    padding: 7rem;
    flex-direction: column;
}
.pearltower{
    position: relative;
    font-size: 5rem;
    background-color: white;
    font-family: 'Permanent Marker', cursive;
    margin-top: 6rem;
    text-align: center;
    @include laptop{
        font-size: 2rem;    
    }
    @include tablet{
        font-size: 2rem;
    }
}  


