.extitle{
position: relative;
width: 1041px;
height: 200px;
left: 199px;
top: 64px;
font-family: SeoulHangang CB;
font-style: normal;
font-weight: normal;
font-size: 90px;
line-height: 90px;
display: flex;
align-items: center;
text-align: center;
color: #000000;
border: 1px solid #000000;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
background: #7ABFF0;
opacity: 0.5;
}
