.food{
    height: 40vh;
    margin: 10px;
    width: 33.3%;
    font-size: 500%;
    border-image: fill;
    margin-top: -20rem;
    margin: 8rem;
}

#food{
    flex-grow: 1;
    display: flex;
    width: 33.3%;

}

#food2{
    flex-grow: 2;
    width: 33.3%;
    font-size: 100%;
}

.restaurant2{
    background-color: ghostwhite;
    display: flex;
    flex-direction: column;
    padding: 3rem;
    margin: 8rem;
    border-radius: 15px;
    text-align: center;
    color: darkblue;
    border: 7px solid #263238;
    font-size: 3rem;
    font-family: 'Righteous';
    text-transform: uppercase;
    width: 45vw;
    
    @include desktop {
      }
      @include phone {
        width: 305px;
        height: 110px;
        font-size: 1rem;
        }
}

.food2{
    color: darkcyan;
    text-transform: initial;
    
    @include desktop {
    }
    @include phone {
      width: 305px;
      height: 110px;
      font-size: 1rem;
      }
}

.bao{
    border: 4px solid whitesmoke;
}

.fish{
    border: 4px solid whitesmoke;
}

.dimsum{
    border: 4px solid whitesmoke;
}

.tags{
    align-items: center;
    text-align: center;
}

.rock{
    align-items: center;
    text-align: center;
}