.airplane{
    height: 40vh;
    margin: 10px;
    width: 33.3%;
    font-size: 500%;
    border-image: fill;
    margin-top: -20rem;
}

.black{
    flex-grow: 1;
    display: flex;
    position: absolute;
    margin: 3rem;
    width: 569px;
    height: 375px;
    background: rgba(0, 0, 0, 0.85);
    border-radius: 15rem;
    margin-top: -10rem;
    @include desktop{
      }
      @include phone {
        width: 500px;
        height: 300px;
        margin-left: -1px;
    }
}

.trip{
    flex-grow: 2;
    width: 33.3%;
    font-size: 100%;
}

.trip{
    background-color: ghostwhite;
    display: flex;
    flex-direction: column;
    padding: 3rem;
    margin: 4rem;
    text-align: center;
    color: darkblue;
    font-size: 3rem;
    font-family: 'Righteous';
    text-transform: uppercase;
    width: 40vw;
    margin-top: 60rem;
    @include desktop{
      }
      @include phone {
        width: 305px;
        height: 300px;
        font-size: 4rem;
        margin-top: 50rem;
    }
}

.plane{
    z-index: 1;
    width: 577px;
    height: 375px;
    align-items: center;
    display: flex;
    @include desktop {
    }
    @include phone {
        margin-left: -42px;
        margin-top: -5rem;
  }
}
