.sha:hover{
    transform: scale(1.3);
    transition: all 1.0s;
}

.extitle:hover{
    transform: scale(1.1);
    transition: all 1.0s;
}

.garden{
    transition: all 1.0s;
    height: 30rem;
    filter: grayscale(100);
    border-radius: 5rem;
}

.garden:hover{
    transform: scale(1.3);
    filter: grayscale(0);
}

.road{
    transition: all 1.0s;
    height: 30rem;
    filter: grayscale(100);
    border-radius: 5rem;
}

.road:hover{
    transform: scale(1.3);
    filter: grayscale(0);


.nanjing:hover > .road{
    opacity: 0.3;
}
.nanjing:hover > .word{
    opacity: 1;
    display: inline-block;;
}

.tower{
    transition: all 1.0s;
    height: 30rem;
    filter: grayscale(100);
    border-radius: 5rem;
}

.tower:hover{
    transform: scale(1.3);
    filter: grayscale(0);
}