@import "_hovers.scss";
@import "_animations.scss";
@import "_d1.scss";
@import "_d2.scss";
@import "_d3.scss";
@import "_d4.scss";
@import "_d5.scss";
@import "_medq.scss";
@import "_nav.scss";

@include tablet{}
@include laptop{}

html{
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    box-sizing: border-box;
    @include desktop {
    }
    @include phone {
        width: 305px;
        height: 75px;
      }
  
    
}

body{
  background-color:#263238;

  @include desktop {
    width: 761px;
    height: 153px;
    font-size: 10rem;
  }
  @include phone {
      width: 305px;
      height: 75px;
      font-size: 5rem;
    }

}

.hello{
    width: 375px;
    height: 812px;
    position: relative;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-image: url(../media/Nightview.jpeg);
    clip-path: polygon(50% 94%, 96% 85%, 96% 0, 4% 0, 4% 85%);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);

    @include desktop {
      width: 100vw;
      height: 100vh;
      font-size: 10rem;
      letter-spacing: 2.2rem;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
    }
    @include phone {
      font-size: 5rem;
    }
}

#explore{
  width: 375px;
  height: 812px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  background-image: url(../media/Night.jpg);
  clip-path: polygon(14% 2%, 86% 2%, 98% 10%, 98% 100%, 2% 100%, 2% 10%);
  @include desktop {
    width: 100vw;
    height: 100vh;
    font-size: 10rem;
    letter-spacing: 2.2rem;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
  }
  @include phone {
    font-size: 5rem;
  }
}

.restaurant{
  width: 375px;
  height: 812px;
  display: flex;
  flex-direction: row;
  text-align: center ;
  align-items: center;
  background-size: cover;
  background-image: url(../media/Restaurant.jpg);
  clip-path: polygon(50% 90%, 97% 95%, 97% 7%, 3% 7%, 3% 95%);
  @include desktop {
    font-size: 10rem;
    width: 100vw;
    height: 100vh;
    letter-spacing: 0;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
  }
  @include phone {;
  }
}

#adventure{
  width: 375px;
  height: 812px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  background-image: url(../media/ShangCult.jpg);
  clip-path: polygon(15% 0, 85% 0, 95% 8%, 95% 95%, 95% 95%, 50% 100%, 5% 95%, 5% 8%);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  @include tablet {
    font-size: 6rem;
    letter-spacing: 1.8rem;
  }
  @include laptop {
    width: 100vw;
    height: 100vh;
    font-size: 10rem;
    letter-spacing: 2.2rem;
  }
}

.airplane{
  width: 375px;
  height: 812px;
  background-size: cover;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0;
  background-image: url(../media/Xiamen.jpg);
  clip-path: polygon(50% 12%, 100% 5%, 100% 100%, 0 100%, 0 5%);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  @include tablet {
    font-size: 6rem;
    letter-spacing: 1.8rem;
  }
  @include laptop {
    width: 100vw;
    height: 100vh;
    font-size: 10rem;
    letter-spacing: 2.2rem;
  }
}