@import "_hovers.scss";
@import "_animations.scss";
@import "_d1.scss";
@import "_d2.scss";
@import "_medq.scss";

@include tablet{}
@include laptop{}

html{
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    box-sizing: border-box;
}

body{
  background-color: cadetblue;
}

.hello{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: top;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-image: url(../media/Nightview.jpeg);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 95%);
    
    @include tablet {
      font-size: 6rem;
      letter-spacing: 1.8rem;
    }
    @include laptop {
      font-size: 10rem;
      letter-spacing: 2.2rem;
    }
}

#explore{
  width: 100vw;
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  background-image: url(../media/Shang.jpg);
  @include tablet {
    font-size: 6rem;
    letter-spacing: 1.8rem;
  }
  @include laptop {
    font-size: 10rem;
    letter-spacing: 2.2rem;
  }
}



